<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OpensubtitlesOrgApiUri" value="http://api.opensubtitles.org/xml-rpc" />
    <add key="ProjectRSSFeed" value="http://subtitletools.codeplex.com/project/feeds/rss?ProjectRSSFeed=codeplex%3a%2f%2frelease%2fSubtitleTools" />
  </appSettings>  

  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" bypassonlocal="True"/>
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
