<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DNTPersianUtils.Core" version="1.9.1" targetFramework="net40" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net40" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net40" />
</packages>